@page
@model IndexModel
@{    
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">hello everybody </h1>
    <hr />
   <div class="jumbotron">
    <h1>helping deaf </h1>
    <p class="lead">Example .NET app to Azure App Service.</p>
</div>