@page
@model IndexModel
@{    
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">hello everybody </h1>
    <hr />
   <div class="jumbotron">
    <h1>helping speechless  </h1>
</div>
